@font-face {
    font-family: 'Agustina';
    src: url("../../../assets/fonts/Agustina.ttf");
  }

#jmj {
    font-family: "Agustina";
    font-weight: bold;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
    padding: 0 10px;
  }

